server:
  port: 8081

spring:
  application:
    name: casesvc
  kafka:
    bootstrap-servers: localhost:19092
    consumer:
      group-id: case-svc
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

  datasource:
    url: jdbc:postgresql://localhost:5433/casesvc_db
    username: phep
    password: phep
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.jdbc.time_zone: UTC
  flyway:
    locations: classpath:db/migration
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: true
  jackson:
    serialization:
      write-dates-as-timestamps: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

springdoc:
  api-docs.enabled: true
  swagger-ui.enabled: true

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    com.phep.casesvc: DEBUG       # dev: verbose for your code
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{cid:-}] [%thread] %logger{36} - %msg%n"
  file:
    name: logs/casesvc.log
  logback:
    rollingpolicy:
      file-name-pattern: logs/casesvc.%d{yyyy-MM-dd}.%i.log.gz
      max-file-size: 10MB
      max-history: 14
      total-size-cap: 1GB

app:
  topic: lab.events
---
spring.config.activate.on-profile: prod
springdoc:
  api-docs.enabled: false
  swagger-ui.enabled: false
logging:
  level:
    root: INFO
    com.phep.casesvc: INFO         # prod: quieter
